/* *** *** *** *** *** *** *** *** *** *** ***
 * ***
 * ***   Mervyn
 * ***
 * ***   A CSS framework for reading
 * ***
 * *** *** *** *** *** *** *** *** *** *** ***
 *
 * version 0.2
 * Last updated June 2018
 * Switched to Sass April 2019
 * 
 * Created by David M. Logan
 * nagoldivad@gmail.com
 *
 * License: http://www.wtfpl.net/
 *
 * Goals of this framework is to follow these basic typography guidelines:
 * https://practicaltypography.com/typography-in-ten-minutes.html
 *
 */


/* ----------------------------------------
 *		Table of Contents
 *
 *	1. Variables
 *	2. Reset
 *  3. Base styles
 *  4. Links
 *  5. Miscellany
 *  6. Media queries
 *
 */



 /* ----------------------------------------
  *		Variables
  */

/* colors */
$background-color: #ffffff;
$foreground-color: #444444;
$selection-color: #b3d4fc;
$link-color: #FF4136;
$link-color-hover: #b40a01;
$hr-color: #cccccc;

/* Font stack */
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/* font sizes */
$font-size-base: 1.125rem;
$font-size-medium: 1.1875rem;
$font-size-large: 1.375rem;
$font-size-full: 1.5rem;

/* Base styles */
$col-width: 650px;

/* Other vars */
$hypen: auto; /* perhaps switch to 'manual'? */


/* ----------------------------------------
 *		Resets
 */

/* Just a few resets, basically copied from normalize 8.0 */
html {
	-webkit-text-size-adjust: 100%;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}


/* ----------------------------------------
 *		Base styles
 */

 body {
	background-color: $background-color;
	color: $foreground-color;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	max-width: $col-width;
	margin: 20px auto;
    padding: 0 10px;
	line-height: 1.35;
	text-align: justify;
	
	/* The following is from:
	https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	*/
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
  
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	/*word-break: break-all;*/
	/* Instead use this non-standard one: */
	word-break: break-word;
  
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: $hypen;
	-moz-hyphens: $hypen;
	-webkit-hyphens: $hypen;
	hyphens: $hypen;
}

/* Headings */
h1, h2, h3 {
	line-height: 1.2
}

/* images
	make images responsive */
img {
	max-width: 100%;
	height: auto;
}

/* Hanging punctuation in Blockquotes
see: https://betterwebtype.com/rhythm-in-web-typography */
blockquote p {
	hanging-punctuation: first;
}

/* Paragraph style */
p {
	margin-top: 0;
	margin-bottom: 0;
}

p + p {
	text-indent: 1em;
}


/* ----------------------------------------
 *		Links
 */

a {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	color: $link-color-hover;
	text-decoration: underline;
}


/* ----------------------------------------
 *		Miscellany
 */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::selection {
    background: $selection-color;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 * (taken from HTML5 Boilerplate -- https://html5boilerplate.com/)
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $hr-color;
    margin: 1em 0;
    padding: 0;
}


/* ----------------------------------------
 *		Media queries
 */

/* breakpoints are same as Bootstrap 4.0 */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
		font-size: $font-size-medium;
		padding: 0;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		font-size: $font-size-large;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
		font-size: $font-size-full;
	}
}